/*Admin Module*/

* {
    font-family: Arial, Helvetica, sans-serif;
}

a{
    text-decoration: none;
    color: black;
}

body{
    background-color: #ECECEC;
}

header{
    position: absolute;
    text-align: center;
    height: 80px;
    top: 0;
    right: 0;
    width: 100%;
    background: white;
    box-shadow: 0px 4px 8px #888888;
}

aside{
    position: fixed;
    height: 100%;
    left: 0;
    top: 0;
    width: 20%;
    background-color: black;
}

aside ul{
    display: block;
}

aside li{
    padding: 10px 5px 10px;
    color: white;
    text-decoration-color: white;
    list-style-type: none;
}

.sidebar_a  {
    text-decoration: none;
    color: white;
}

.order{
    margin-top: 100px;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    margin-left: 150px;
}


.order_box{
    height: 100px;
    width: 125px;
    border-radius: 5px;
    box-shadow: 0 4px 8px 0 #888888;
    text-align: center;
    margin: auto;
    margin-top: 10px;
    background-color: white;
}

.order_image{
    height: 40px;
    width: 40px;
    margin-top: 15px;
}

.order_text{
    font-size: small;
    padding: auto;
}

.sales_box{
    margin-top: 30px;
    margin-left: 25%;
    margin-right: 5%;
    height: auto;
    background: white;
    box-shadow: 0px 4px 8px #888888;
    padding-bottom: 30px;
}

h2{
    text-align: center;
    padding-top: 20px;
}


#sales_image{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 86%;
    height: 85%;
}

.customer_box{
    margin-top: 30px;
    margin-left: 25%;
    margin-right: 5%;
    height: auto;
    padding-bottom: 30px;
    background: white;
    box-shadow: 0px 4px 8px #888888;
}

.section_details{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    column-gap: 30px;
    margin-left: 50px;
    margin-right: 50px;
}

.customer_details{
    display: block;
}

.primary_details{
    font-weight: bold;
}

table{
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    table-layout: auto;
    width: 85%;
    border: 1px solid black;
}

th{
    background-color: #ECECEC;
}

td{
    text-align: center;
    height: 25px;
}

/*View Customer Orders*/

.order1{
    margin-top: 100px;
    justify-content: space-evenly;
    display: flex;
    flex-direction: row;
    margin-left: auto;
    margin-right: auto;
}

.order_amount{
    position: absolute;
    height: 800px;
    right: 0;
    width: 100%;
    background: white;
    box-shadow: 0px 4px 8px #888888;
    margin-top: 30px;
}

#order_amount{
    text-align: left;
    margin-left: 10%;
}

.order_list{
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    height: auto;
    background: white;
    box-shadow: 0px 4px 8px #888888;
}

.order_list_header{
    width: 100%;
    height: 40px;
    background: #DEDEDE;
    display: flex;
}

.order_header_attr{
    margin-right: auto;
    margin-left: auto;
    font-weight: bold;
}

.order_list_row{
    display: block;
}

.order_list_flex{
    display: flex;
    height: 110px;
}

.order_list_attributes{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: auto;
    margin-right: auto;
    width: 24%;
    text-align: center;
}

.order_list_flex2{
    display: flex;
    background-color: #F2F2F2;
    height: 40px;
    justify-content: right;
}

#delivery{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5px;
}

#option{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5px;
    height: 20px;
}

#submit{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 5px;
    margin-right: auto;
    height: 20px;
}

.order_list_button{
    background-color: red;
    color: white;
    padding: 4px 8px;
    margin-top: auto;
    margin-bottom: auto;
    margin-right: 5px;
    border-radius: 16px;
}

.admin_module_button{
    margin-top: 30px;
    margin-left: 5%;
    text-align: center;
    background-color: #DEDEDE;
    border: none;
    padding: 10px 20px;
    font-size: medium;
}

.orders_history_button{
    margin-top: 30px;
    margin-left: 10px;
    text-align: center;
    background-color: #DEDEDE;
    border: none;
    padding: 10px 20px;
    font-size: medium;
}